html,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans", sans-serif
}

.w3-theme-d5{
    color: #fff !important;
    background-color: #303e45 !important;
}
.w3-theme-d4{}
.w3-theme-d3{}
.w3-theme-d2{}
.w3-theme-d1{}
.w3-theme{}
.w3-theme-l1{}
.w3-theme-l2{}
.w3-theme-l3{}
.w3-theme-l4{}
.w3-theme-l5{}